Repository asyml/forte, pull requests merged in 2020-12, with the labels that each got.

#303 Unsupervised Data Augmentation
  docs/code/data_aug.rst
  docs/conf.py
  forte/processors/data_augment/algorithms/UDA.py
  tests/forte/processors/data_augment/algorithms/UDA_test.py
Labels: capstone_data_aug, e/3

#285 Auto align function for replacement
  docs/code/data_aug.rst
  forte/processors/base/data_augment_processor.py
  forte/processors/data_augment/algorithms/text_replacement_op.py
  tests/forte/processors/base/data_augment_replacement_processor_test.py
Labels: capstone_data_aug, e/3

#295 Replace reader and example data for CoNLL03 dataset
  data_samples/conll03/conll03.conll
  forte/data/readers/conll03_reader.py
  tests/forte/data/readers/conll03_reader_test.py
  tests/forte/processors/attribute_masking_processor_test.py
Labels: capstone_model_interface

#296 Add Vocabulary class
  docs/code/vocabulary.rst
  docs/index.rst
  forte/data/vocabulary.py
  tests/forte/data/vocabulary_test.py
Labels: capstone_model_interface

#298 Add Feature and Converter class
  docs/code/data.rst
  forte/common/exception.py
  forte/data/converter/__init__.py
  forte/data/converter/converter.py
  forte/data/converter/feature.py
  tests/forte/data/converter/converter_test.py
  tests/forte/data/converter/feature_test.py
Labels: capstone_model_interface, e/2

#312 Easy Data Augmentation
  forte/processors/data_augment/algorithms/eda_processors.py
  tests/forte/processors/data_augment/algorithms/eda_processors_test.py
Labels: capstone_data_aug, topic: data

#323 add a tutorial for the da
  examples/data_augmentation/tutorial_for_data_augmentation.ipynb
Labels: capstone_data_aug, e/2
