Repository asyml/forte, pull requests merged in 2022-06, with the labels that each got.

#825 Bug fix of the NameError where token_entries is not defined
  README.md
Labels: bug, topic: examples

#826 Improve forte MT notebook
  docs/notebook_tutorial/tutorial_MT_with_forte.ipynb
  tests/forte/notebooks/tutorial_MT_with_forte_test.py
Labels: topic: docs

#830 Doc test readme
  .github/workflows/main.yml
  README.md
Labels: bug, topic: examples, test_cases

#834 Integrate `DataStore` with `MultiPack`
  docs/code/data.rst
  forte/data/base_pack.py
  forte/data/base_store.py
  forte/data/container.py
  forte/data/data_pack.py
  forte/data/data_store.py
  forte/data/entry_converter.py
  forte/data/multi_pack.py
  forte/data/ontology/core.py
  forte/data/ontology/top.py
  forte/processors/nlp/ner_predictor.py
  tests/forte/data/data_store_test.py
  tests/forte/data/entry_data_structures_test.py
Labels: data_efficiency
