Repository asyml/forte, pull requests merged in 2022-05, with the labels that each got.

#766 Change images wo background
  README.md
Labels: topic: docs

#778 add version upper bound <=0.75.2 to fastapi
  setup.py
Labels: dependencies

#791 redirect pipeline example in pipeline README.md due to invalid hyperl…
  .github/workflows/main.yml
  examples/pipelines/README.md
Labels: topic: examples

#792 Fix issues in ontology_generation doc
  docs/toc/ontology_generation.md
  forte/command_line/generate_ontology/__main__.py
Labels: topic: docs, topic: ontology

#796 Initialize new entry attribute list with default values
  forte/data/data_store.py
  tests/forte/data/data_store_test.py
Labels: data_efficiency

#779 Add a new optional argument tid in DataStore.add_entries
  forte/data/data_store.py
  tests/forte/data/data_store_test.py
Labels: data_efficiency

#801 Check duplicates when adding new annotation to DataStore
  forte/data/data_store.py
  tests/forte/data/data_store_test.py
Labels: data_efficiency

#771 Datastore entry method
  forte/data/data_store.py
  tests/forte/data/data_store_test.py
Labels: topic: data, data_efficiency

#800 Datastore Generics & AudioAnnotation
  forte/data/data_store.py
  tests/forte/data/data_store_test.py
Labels: data_efficiency

#814 Datastore Integration
  forte/data/base_pack.py
  forte/data/container.py
  forte/data/data_pack.py
  forte/data/data_store.py
  forte/data/multi_pack.py
  forte/data/ontology/core.py
  forte/data/ontology/top.py
  forte/processors/nlp/ner_predictor.py
  tests/forte/data/audio_annotation_test.py
  tests/forte/data/data_store_test.py
  tests/forte/data/entry_data_structures_test.py
  tests/forte/data/readers/stave_reader_test.py
Labels: data_efficiency

#795 DataPack basic operations on ImageAnnotations, Image Payload and Grids
  forte/data/data_pack.py
  forte/data/data_store.py
  forte/data/ontology/top.py
  tests/forte/grids_test.py
  tests/forte/image_annotation_test.py
Labels: topic: ontology

#813 Bounding box
  examples/bounding_box/check_overlap.py
  forte/data/data_pack.py
  forte/data/ontology/top.py
  tests/forte/grids_test.py
  tests/forte/image_annotation_test.py
Labels: topic:cv
