Repository asyml/forte, pull requests merged in 2022-04, with the labels that each got.

#703 implemented DataStore co_iterator
  forte/data/data_store.py
  tests/forte/data/data_store_test.py
Labels: data_efficiency

#676 Implement get_entry, prev_entry, and next_entry for DataStore
  forte/data/base_store.py
  forte/data/data_store.py
  tests/forte/data/data_store_test.py
Labels: data_efficiency

#717 Single Ontology Data Augmentation
  docs/code/data_aug.rst
  forte/processors/data_augment/algorithms/back_translation_op.py
  forte/processors/data_augment/algorithms/character_flip_op.py
  forte/processors/data_augment/algorithms/dictionary_replacement_op.py
  forte/processors/data_augment/algorithms/distribution_replacement_op.py
  forte/processors/data_augment/algorithms/eda_ops.py
  forte/processors/data_augment/algorithms/eda_processors.py
  forte/processors/data_augment/algorithms/embedding_similarity_replacement_op.py
  forte/processors/data_augment/algorithms/single_annotation_op.py
  forte/processors/data_augment/algorithms/typo_replacement_op.py
  forte/processors/data_augment/algorithms/word_splitting_op.py
  forte/processors/data_augment/algorithms/word_splitting_processor.py
  tests/forte/processors/data_augment/algorithms/back_translation_augmenter_test.py
  tests/forte/processors/data_augment/algorithms/character_flip_op_test.py
  tests/forte/processors/data_augment/algorithms/dictionary_replacement_op_test.py
  tests/forte/processors/data_augment/algorithms/distribution_replacement_op_test.py
  tests/forte/processors/data_augment/algorithms/eda_ops_test.py
  tests/forte/processors/data_augment/algorithms/typo_replacement_op_test.py
  tests/forte/processors/data_augment/algorithms/word_splitting_op_test.py
Labels: data_aug

#723 tested parameter signature overwriting docstrings
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/conf.py
  docs/requirements.txt
  docs/spelling_wordlist.txt
  forte/common/resources.py
  forte/data/base_extractor.py
  forte/data/base_pack.py
  forte/data/base_reader.py
  forte/data/base_store.py
  forte/data/batchers.py
  forte/data/converter/converter.py
  forte/data/converter/feature.py
  forte/data/data_pack.py
  forte/data/data_pack_dataset.py
  forte/data/data_store.py
  forte/data/extractors/attribute_extractor.py
  forte/data/extractors/char_extractor.py
  forte/data/extractors/relation_extractor.py
  forte/data/extractors/seqtagging_extractor.py
  forte/data/extractors/subword_extractor.py
  forte/data/index.py
  forte/data/multi_pack.py
  forte/data/ontology/top.py
  forte/data/readers/audio_reader.py
  forte/data/span.py
  forte/data/vocabulary.py
  forte/datasets/conll/conll_utils.py
  forte/datasets/wikipedia/dbpedia/db_utils.py
  forte/evaluation/ner_evaluator.py
  forte/models/ner/conditional_random_field.py
  forte/models/srl/model.py
  forte/pipeline.py
  forte/pipeline_component.py
  forte/process_manager.py
  forte/processors/base/batch_processor.py
  forte/processors/base/query_processor.py
  forte/processors/data_augment/algorithms/back_translation_op.py
  forte/processors/data_augment/algorithms/base_data_augmentation_op.py
  forte/processors/data_augment/algorithms/character_flip_op.py
  forte/processors/data_augment/algorithms/dictionary.py
  forte/processors/data_augment/algorithms/dictionary_replacement_op.py
  forte/processors/data_augment/algorithms/distribution_replacement_op.py
  forte/processors/data_augment/algorithms/embedding_similarity_replacement_op.py
  forte/processors/data_augment/algorithms/machine_translator.py
  forte/processors/data_augment/algorithms/typo_replacement_op.py
  forte/utils/utils.py
Labels: topic: docs

#730 Quick start guide
  README.md
  docs/conf.py
  docs/index.rst
  docs/overview.rst
  docs/readme_link.md
  docs/toc/audio_processing.md
  docs/toc/ontology_generation.md
  forte/data/data_pack.py
  forte/data/data_pack_dataset.py
Labels: topic: docs

#750 Move out PyTorch to extra require
  .github/workflows/main.yml
  README.md
  examples/chatbot/chatbot_example.py
  examples/ner/main_predict.ipynb
  examples/ner/main_predict.py
  examples/ner/main_train.py
  examples/pipelines/process_dataset_example.py
  examples/pipelines/process_string_example.py
  forte/data/converter/converter.py
  forte/data/data_pack_dataset.py
  forte/models/da_rl/aug_wrapper.py
  forte/models/da_rl/magic_model.py
  forte/models/ner/conditional_random_field.py
  forte/models/ner/model_factory.py
  forte/models/ner/utils.py
  forte/models/srl/model.py
  forte/models/srl/model_utils.py
  forte/models/srl/srl_span_data.py
  forte/models/srl_new/model.py
  forte/models/srl_new/model_utils.py
  forte/models/srl_new/srl_span_data.py
  forte/processors/ir/bert/bert_based_query_creator.py
  forte/processors/ir/bert/bert_ranker.py
  forte/processors/ir/bert/bert_reranking_processor.py
  forte/processors/nlp/__init__.py
  forte/processors/nlp/ner_predictor.py
  forte/processors/nlp/srl_predictor.py
  forte/train_preprocessor.py
  forte/trainer/ner_trainer.py
  tests/forte/forte_backbone_test.py
Labels: topic: third_party, dependencies

#753 reconstruct rst files structure to fix wrong section names
  docs/ch1.rst
  docs/ch2.rst
  docs/ch3.rst
  docs/ch4.rst
  docs/ch5.rst
  docs/ch6.rst
  docs/ch7.rst
  docs/ch8.rst
  docs/ch9.rst
  docs/index.rst
  docs/index_api.rst
  docs/index_appendices.rst
  docs/index_toc.rst
Labels: topic: docs

#751 Modularize try-except ImportError
  examples/tagging/tagging_trainer.py
  forte/data/converter/converter.py
  forte/data/data_pack_dataset.py
  forte/data/extractors/subword_extractor.py
  forte/models/da_rl/aug_wrapper.py
  forte/models/da_rl/magic_model.py
  forte/models/ner/conditional_random_field.py
  forte/models/ner/model_factory.py
  forte/models/ner/utils.py
  forte/models/srl/model.py
  forte/models/srl/model_utils.py
  forte/models/srl/srl_span_data.py
  forte/models/srl_new/model.py
  forte/models/srl_new/model_utils.py
  forte/models/srl_new/srl_span_data.py
  forte/pipeline.py
  forte/processors/data_augment/algorithms/UDA.py
  forte/processors/data_augment/algorithms/dictionary.py
  forte/processors/data_augment/algorithms/embedding_similarity_replacement_op.py
  forte/processors/data_augment/algorithms/machine_translator.py
  forte/processors/ir/bert/bert_based_query_creator.py
  forte/processors/ir/bert/bert_ranker.py
  forte/processors/ir/bert/bert_reranking_processor.py
  forte/processors/misc/remote_processor.py
  forte/processors/nlp/ner_predictor.py
  forte/processors/nlp/srl_predictor.py
  forte/processors/nlp/subword_tokenizer.py
  forte/processors/stave/stave_processor.py
  forte/processors/third_party/pretrained_encoder_processors.py
  forte/train_preprocessor.py
  forte/trainer/ner_trainer.py
  forte/utils/utils.py
Labels: topic: third_party

#760 Move out dependency of rest modules in extra_requires in forte
  .github/workflows/main.yml
  forte/datasets/wikipedia/dbpedia/db_utils.py
  forte/datasets/wikipedia/dbpedia/dbpedia_datasets.py
  forte/processors/data_augment/algorithms/character_flip_op.py
  forte/processors/data_augment/algorithms/distribution_replacement_op.py
  forte/processors/data_augment/algorithms/typo_replacement_op.py
  forte/processors/misc/remote_processor.py
  forte/processors/third_party/machine_translation_processor.py
  forte/trainer/ner_trainer.py
  setup.py
  tests/forte/forte_backbone_test.py
Labels: topic: third_party

#762 Grammar spelling check
  docs/code/training_system.rst
  docs/notebook_tutorial/handling_structued_data.ipynb
  docs/notebook_tutorial/pipeline.ipynb
  docs/notebook_tutorial/text_classification_pipeline.ipynb
  docs/notebook_tutorial/tutorial_eliza.ipynb
  docs/notebook_tutorial/wrap_MT_inference_pipeline.ipynb
  docs/toc/processor.rst
  docs/toc/reader.rst
  examples/blog_post_examples/pytorch_ecosystem.py
Labels: topic: docs
