Repository asyml/forte, pull requests merged in 2022-08, with the labels that each got.

#891 Image getter setter
  docs/conf.py
  forte/data/data_pack.py
  forte/data/ontology/top.py
  tests/forte/image_annotation_test.py
Labels: topic: data, topic:cv

#882 Refactoring Data Store Structure
  forte/common/constants.py
  forte/data/base_pack.py
  forte/data/base_store.py
  forte/data/data_pack.py
  forte/data/data_store.py
  forte/data/entry_converter.py
  forte/data/extractors/relation_extractor.py
  forte/data/ontology/core.py
  forte/data/ontology/top.py
  tests/forte/data/data_pack_test.py
  tests/forte/data/data_store_serialization_test.py
  tests/forte/data/data_store_test.py
  tests/forte/remote_processor_test.py
Labels: data_efficiency

#892 Payload data setter
  docs/notebook_tutorial/ocr.ipynb
  forte/data/data_pack.py
  tests/forte/grid_test.py
  tests/forte/image_annotation_test.py
Labels: topic: data, topic:cv

#893 Image size access from ImageAnnotation
  docs/notebook_tutorial/ocr.ipynb
  forte/data/ontology/top.py
  tests/forte/image_annotation_test.py
Labels: topic: data, topic:cv

#896 Data adder for data pack
  forte/data/data_pack.py
Labels: topic: data

#899 Remove class objects from DataStore
  forte/data/base_pack.py
  forte/data/data_pack.py
  forte/data/data_store.py
  forte/data/ontology/core.py
  forte/data/ontology/top.py
  forte/data/span.py
Labels: data_efficiency
